git+https://github.com/Rapptz/discord.py
git+https://github.com/python/cpython/tree/main/Lib/json
git+https://github.com/coleifer/pysqlite3
git+https://github.com/astanin/python-tabulate
PyNaCl==1.3.0
pandas
dnspython==1.16.0
async-timeout==3.0.1
